.card {
  width: 100%;
}

Link {
  text-decoration: none;
}

.cause-card {
  width: 18rem;
  height: 300px;
}

.img-card {
  width: 100%;
  height: 150px;
}
.img-card img {
  width: 100%;
  height: 100%;
}
