* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
}


section{
  padding: 20px 10px;
}

#loom-companion-mv3{
  padding: 0  !important;
  display: none !important;
}